<nav class="fixed">
    <div class="px-4 h-12 bg-green w-screen flex items-center text-white">
        <span class="font-bold flex-grow">Bail</span>
        <span class="text-sm mx-2">User</span>
        <span class="text-sm mx-2">Keluar</span>
    </div>
    <div class="absolute pin-t h-screen w-48 pt-12">
        <div class="w-full h-full bg-grey-lighter p-4">
            <ul class="list-reset">
                <li class="py-3"><a class="no-underline text-grey-dark" href="/">Beranda</a></li>
                <li class="py-3"><a class="no-underline text-grey-dark" href="/inbox">Surat Masuk</a></li>
                <li class="py-3"><a class="no-underline text-grey-dark" href="/outbox">Surat Keluar</a></li>
                <li class="py-3"><a class="no-underline text-grey-dark" href="/disposition">Disposisi</a></li>
                <li class="py-3"><a class="no-underline text-grey-dark" href="/mailTypes">Tipe Surat</a></li>
                <li class="py-3"><a class="no-underline text-grey-dark" href="/users">Pengguna</a></li>
            </ul>
        </div>
    </div>
</nav>